@import 'tailwindcss';

@theme {
  --color-main: #f7f6f2;
  --color-secondary: #004b51;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 100vh;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 100vh;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #aaa;
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--color-secondary) #f1f1f1;
  }
}
